@page  
@model PrivacyModel  
@{  
   ViewData["Title"] = "Privacy";  
}  
<h1>@ViewData["Title"]</h1>  

<p>Alle Afbeeldingen gebruikt op deze website zijn uit gratis bibliotheken of hebben de originele autheurs vermeld</p>